/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 4px 16px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
  color: rebeccapurple;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  outline: 0;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  cursor: pointer;
  font-family: 'Saira Condensed';
}

button:first-child {
  margin-right: 8px;
}

button:hover {
  color: hotpink;
}

button.btn {
  background-color: rebeccapurple;
  color: #fff;
}

button.btn:hover {
  background-color: hotpink;
}

button.btn-secondary {
  background-color: hotpink;
  color: #fff;
}

button.btn-secondary:hover {
  background-color: rebeccapurple;
}

button span {
  display: flex;
  align-items: center;
}

button > span > i.material-icons {
  font-size: 14px;
  position: relative;
  left: -4px;
}
